{% extends 'base.html.twig' %}

{% block main %}

<div class="app">
   <div class="navbar">
      <div class="navbar-brand login m-t-lg text-center">
         <span class="inline"><img src="/images/{{empresa.diretorio}}/logo-login.png" width="250"></span>
      </div>
   </div>
   <div class="center-block w-xxl w-auto-xs">
      <div class="p-lg panel md-whiteframe-z1 text-color m">
         <div class="m-b text-sm text-center">
            <p>Lidere Sistemas - API {{appVersion}}</p>
         </div>
      </div>
   </div>
</div>

{% endblock %}
