<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">

        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
            	 {{menu|raw}}
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <div class="sidebar-footer text-center">
        <strong style="font-size:11px;">Versão: {{v|raw}} </strong>
    </div>
    <!-- End Sidebar scroll-->
</aside>

