{% extends 'baseLogged.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}


{% block principal %}

<div class="app">
   <div class="row">
   </div>
      {% if flash.success is defined %}
         <div class="alert alert-success alert-dismissable">
         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
             {{flash.success|raw}}
         </div>
      {% endif %}

      {% if flash.danger is defined %}
         <div class="alert alert-danger alert-dismissable">
             <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
             {{flash.danger|raw}}
         </div>
      {% endif %}
  {#} <div class="center-block w-xxl w-auto-xs p-v-md">
      <div class="p-lg panel md-whiteframe-z1 text-color m">
         <div class="m-b">
            <b>Redefinir Senha</b>
            <p class="text-xs m-t">Informe sua nova senha de acesso ao Portal.</p>
         </div>
         <form action="/new-password" name="form" class="form" method="post">
            <div class="md-form-group float-label">
               <input type="password" name="password" id="txtNewPassword" class="md-input" data-myrules="required">
               <label>Nova Senha*</label>
            </div>
            <div class="md-form-group float-label">
               <input type="password" name="confirm" class="md-input" id="txtConfirmPassword" data-myrules="required">
               <label>Confirmar nova Senha*</label>
            </div>
            <div class="m-b-md">
                <label class="form-error-message" id="divCheckPasswordMatch" style="display:none"> As senhas não conferem.<label>
            </div>
            <button md-ink-ripple type="submit" id="buttonok" class="md-btn md-raised blue btn-block p-h-md m-t-sm btn-submit">Confirmar</button>
         </form>
      </div>
   </div> {#}

    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material" action="/new-password" method="post">
                <div class="text-center"><strong style="font-size:20px;">Redefinição de Senha</strong></div>

                <div class="form-group m-t-40">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" required="" id="txtNewPassword" name="password" placeholder="Nova Senha">
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" required=""  id="txtConfirmPassword" name="confirm" placeholder="Confirmar nova Senha">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                </div>
                <div>
                    <label class="form-error-message" id="divCheckPasswordMatch" style="display:none"> As senhas não conferem.<label>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-md btn-block text-uppercase waves-effect waves-light" id="buttonok"  type="submit">Alterar Senha</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

      



</div>

{% endblock %}

{% block javascripts %}
    {{parent()}}
{% endblock %}
